{% extends 'blog/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class "group">
    <h1>{{ group.name }}</h1>
    <p><a href="{% url 'group_adduser' pk=group.pk %}">Add user to group?</a></p>
    {% if request.user.is_superuser %}
    <p><a href="{% url 'group_removeuser' pk=group.pk %}">Remove user from group?</a></p>
    {% endif %}
<h2>USERS</h2>
{% for item in userlist %}
<p>{{ item.get_username }}</p>
{% endfor %}
<h2>REPORTS</h2>
{% for report in reportlist %}
{% if report.group == group.name %}
<h3><a href="{% url 'report_detail' pk=report.pk %}">{{ report.title }}</a></h3>
{% endif %}
{% endfor %}
</div>
{% else %}
<p> Please <a href="{% url 'login' %}">login</a> to continue.</p>
{% endif %}
{% endblock%}
