{% extends 'blog/base.html' %}

{% block content %}
<h1>Drafts</h1>
<form method='GET' action=''>
<input type='text' name='q' placeholder='Search drafts' value='{{ request.GET.q }}'/> 
<input type='submit' value='Search' /> 
<table width="1200" class="table table-inverse table-striped">
		<tr>
			<th>Report Title</th>
			<th>Author</th>
			<th>Short Description</th>
			<th>Document</th>
			<th>Uploaded at</th>
			<th>Private</th>
		</tr>
    {% for report in reports %}
        <tr>
			<td><a href="{% url 'report_detail' pk=report.pk %}">{{ report.title }}</a></td>
			<td>{{ report.author }}</td>
			<td>{{ report.short_description }}</td>
		<td>{% for document in report.documents.all %}
			<a href="{{ document.document.url }}">{{ document.document.name }}</a>
		{% endfor %}</td>
			<td width="20%">{{report.upload_at}}</td>
			<td>{{ report.private }}</td>

		</tr>
    {% endfor %}
</table>
{% endblock %}
