{% extends 'blog/base.html' %}

{% block content %}
<div class="report">



  {% if user.is_authenticated %}
  <a class="btn btn-default" href="{% url 'report_edit' pk=report.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
  <a class="btn btn-default" href="{% url 'report_remove' pk=report.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
  {% endif %}
  <h1>{{ report.title }}</h1>
  {% if report.published_date %}
  <div class="date">
    {{ report.published_date }}
  </div>
  {% else %}
  <a class="btn btn-default" href="{% url 'report_publish' pk=report.pk %}">Publish</a>
  {% endif %}  
  <p>{{ report.long_description|linebreaksbr }}</p>
  {% for document in report.documents.all %}
    <a href="{{ document.document.url }}">Uploaded File: {{document.document.name}}</a>
  {% endfor %}
</div>
{% endblock %}
