{% extends 'blog/base.html' %}

{% block content %}
<h1>Reports</h1>
{% if user.is_authenticated %}
<table width="1200" class="table table-inverse table-striped">
		<tr>
			<th>Report Title</th>
			<th>Author</th>
			<th>Short Description</th>
			<th>Document</th>
			<th>Uploaded at</th>
			<th>Private</th>
		</tr>
<form method='GET' action=''>
<input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/> 
<input type='submit' value='Search' /> 
{% for report in reports %}
<!-- <div class="report">
  <h2><a href="{% url 'report_detail' pk=report.pk %}">{{ report.title }}</a></h2>
  <div class="date">
    <p>published: {{ report.published_date }}</p>
  </div>
  <p>{{ report.text|linebreaksbr }}</p>
</div> -->
		<tr>
			<td><a href="{% url 'report_detail' pk=report.pk %}">{{ report.title }}</a></td>
			<td>{{ report.author }}</td>
			<td>{{ report.short_description }}</td>
		<td>{% for document in report.documents.all %}
			<a href="{{ document.document.url }}">{{ document.document.name }}</a>
		{% endfor %}</td>
			<td width="20%">{{report.upload_at}}</td>
			<td>{{ report.private }}</td>

		</tr>
{% endfor %}
</table>
<a href="{% url 'report_new' %}"><button type="button" class="btn btn-primary">Create Report</button></a>
{% else %}
<p> Please <a href="{% url 'login' %}">login</a> to continue.</p>
{% endif %}
{% endblock %}

{% block sidebar %}
<ul class="subnavilist">
    <li><a href="{% url 'report_list' %} ">Reports</a></li>
    <li><a href="{% url 'folder_list' %} ">Folders</a></li>
    <li><a href="{% url 'group_list' %} ">Groups</a></li>
</ul>
{% endblock %}
