{% extends 'blog/base.html' %}

{% block content %}
{% if user.is_authenticated and user.username == folder.user %}
  <a class="btn btn-default" href="{% url 'folder_edit' pk=folder.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
  <a class="btn btn-default" href="{% url 'folder_remove' pk=folder.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
  {% endif %}
<div class "group">
    <h1>{{ folder.name }}</h1>
    <table class="table table-inverse table-striped">
		<tr>
			<th>Report Title</th>
			<th>Author</th>
			<th>Short Description</th>
			<th>Document</th>
			<th>Uploaded at</th>
			<th>Private</th>
		</tr>
    {% for report in reports %}
		<tr>
			<td><a href="{% url 'report_detail' pk=report.pk %}">{{ report.title }}</a></td>
			<td>{{ report.author }}</td>
			<td>{{ report.short_description }}</td>
		<td>{% for document in report.documents.all %}
			<a href="{{ document.document.url }}">{{ document.document.name }}</a>
		{% endfor %}</td>
			<td width="20%">{{report.upload_at}}</td>
			<td>{{ report.private }}</td>

		</tr>
	{% endfor %}
	</table>
	<a href="{% url 'report_new' %}"><button type="button" class="btn btn-primary">Add New Report</button></a>
</div>
{% endblock%}