{% extends "blog/base.html" %}

{% block content %}
<h1>Folders</h1>
{% if user.is_authenticated %}
<table class="table table-inverse table-striped">
		<tr>
			<th>Folder Title</th>
			<th>Owner</th>
		</tr>
<form method='GET' action=''>
<input type='text' name='q' placeholder='Search folders' value='{{ request.GET.q }}'/> 
<input type='submit' value='Search' /> 
{% for folder in folders %}
		<tr>
			<td><a href="{% url 'folder_detail' pk=folder.pk %}">{{ folder.name }}</a></td>
			<td>{{ folder.user }}</td>
		</tr>
{% endfor %}
</table>

<a href="{% url 'folder_new' %}"><button type="button" class="btn btn-primary">Create Folder</button>
{% else %}
<p> Please <a href="{% url 'login' %}">login</a> to continue.</p>
{% endif %}

{% endblock %}