{% extends 'blog/base.html' %}

{% block content %}
{% if user.is_authenticated and user.username == folder.user %}
  <a class="btn btn-default" href="{% url 'folder_edit' pk=folder.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
  <a class="btn btn-default" href="{% url 'folder_remove' pk=folder.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
  {% endif %}
<div class "group">
    <h1>{{ folder.name }}</h1>
    {% for report in reports %}
		<div class="report">
		  <div class="date">
		    <p>published: {{ report.published_date }}</p>
		  </div>
		  <h1><a href="{% url 'report_detail' pk=report.pk %}">{{ report.title }}</a></h1>
		  <p>{{ report.text|linebreaksbr }}</p>
		</div>
	{% endfor %}
	<h2><a href="{% url 'report_new' %}">Add New Report</a></h2>
</div>
{% endblock%}